SENSI_DATALOGGING=false
SENSI_MONITOR_MONGO_CONNECTION_STRING=
SENSI_MONITOR_MONGO_COLLECTION=
SENSI_EMAIL_ALERTS=false
SENSI_MONITOR_EMAIL_TO=
SENSI_MONITOR_EMAIL_FROM=
SENSI_ALERT_RUNNING_MODE=false
SENSI_ALERT_SYSTEM_MODE=false
SENSI_ALERT_SETPOINT=false
SENSI_ALERT_OMIT_SCHEDULED=true
SENSI_USERNAME=
SENSI_PASSWORD=
SENSI_VERBOSE=true
